src/test/resources/uli/a.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://webservice.uliws.ok.uliheller.com/" name="UliWsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservice.uliws.ok.uliheller.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservice.uliws.ok.uliheller.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="eventsById" type="tns:eventsById"/>

      <xs:element name="eventsByIdResponse" type="tns:eventsByIdResponse"/>

      <xs:element name="eventsByTimestamp" type="tns:eventsByTimestamp"/>

      <xs:element name="eventsByTimestampResponse" type="tns:eventsByTimestampResponse"/>

      <xs:complexType name="eventsByTimestamp">
        <xs:sequence>
          <xs:element name="apiToken" type="xs:string" minOccurs="0"/>
          <xs:element name="timestamp" type="xs:string" minOccurs="0"/>
          <xs:element name="maxCnt" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eventsByTimestampResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:uliWsEventsQueryResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="uliWsEventsQueryResult">
        <xs:complexContent>
          <xs:extension base="tns:queryResult">
            <xs:sequence>
              <xs:element name="moreUliWsEventsAvailable" type="xs:boolean"/>
              <xs:element name="numberOfUliWsEvents" type="xs:long"/>
              <xs:element name="uliWsEvent" type="tns:uliWsEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="queryResult">
        <xs:complexContent>
          <xs:extension base="tns:anyResult">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="anyResult">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="operationalReturnCode" type="xs:int"/>
          <xs:element name="returnCode" type="xs:int"/>
          <xs:element name="technicalReturnCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="uliWsEvent">
        <xs:all>
          <xs:element name="bpId" type="xs:string" minOccurs="0"/>
          <xs:element name="carType" type="xs:string" minOccurs="0"/>
          <xs:element name="cny" type="xs:string" minOccurs="0"/>
          <xs:element name="dealerName" type="xs:string" minOccurs="0"/>
          <xs:element name="eventId" type="xs:string" minOccurs="0"/>
          <xs:element name="eventKey" type="xs:string" minOccurs="0"/>
          <xs:element name="eventReason" type="tns:eventReason" minOccurs="0"/>
          <xs:element name="fin" type="xs:string" minOccurs="0"/>
          <xs:element name="gwGarantiebeginn" type="xs:string" minOccurs="0"/>
          <xs:element name="hereinnahmedatum" type="xs:string" minOccurs="0"/>
          <xs:element name="inServiceDate" type="xs:string" minOccurs="0"/>
          <xs:element name="kundenauslieferungsdatum" type="xs:string" minOccurs="0"/>
          <xs:element name="mileage" type="xs:string" minOccurs="0"/>
          <xs:element name="ppnPartnerId" type="xs:string" minOccurs="0"/>
          <xs:element name="timestamp" type="xs:string" minOccurs="0"/>
          <xs:element name="verkaufspreis" type="xs:string" minOccurs="0"/>
          <xs:element name="warrant" type="xs:string" minOccurs="0"/>
          <xs:element name="uliWsEventSubType" type="xs:string" minOccurs="0"/>
          <xs:element name="uliWsFileType" type="xs:string" minOccurs="0"/>
          <xs:element name="mY" type="xs:string" minOccurs="0"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="eventsById">
        <xs:sequence>
          <xs:element name="apiToken" type="xs:string" minOccurs="0"/>
          <xs:element name="previousEventId" type="xs:string" minOccurs="0"/>
          <xs:element name="maxCnt" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="eventsByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:uliWsEventsQueryResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="eventReason">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NO_REASON"/>
          <xs:enumeration value="RESERVED"/>
          <xs:enumeration value="CPO_ERROR"/>
          <xs:enumeration value="RETURNED_WITHIN_15_DAYS"/>
          <xs:enumeration value="WRONG_CUSTOMER"/>
          <xs:enumeration value="ERROR_BY_DEALERSHIP"/>
          <xs:enumeration value="COMPLIANCE_FAILED"/>
          <xs:enumeration value="VEHICLE_IN_LITIGATION"/>
          <xs:enumeration value="VEHICLE_ENTERED_BY_MISTAKE"/>
          <xs:enumeration value="STOLEN_VEHICLE"/>
          <xs:enumeration value="MISC"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="eventsById">
    <part name="parameters" element="tns:eventsById"/>
  </message>
  <message name="eventsByIdResponse">
    <part name="parameters" element="tns:eventsByIdResponse"/>
  </message>
  <message name="eventsByTimestamp">
    <part name="parameters" element="tns:eventsByTimestamp"/>
  </message>
  <message name="eventsByTimestampResponse">
    <part name="parameters" element="tns:eventsByTimestampResponse"/>
  </message>
  <portType name="uliws">
    <operation name="eventsById">
      <input wsam:Action="http://webservice.uliws.ok.uliheller.com/uliws/eventsByIdRequest" message="tns:eventsById"/>
      <output wsam:Action="http://webservice.uliws.ok.uliheller.com/uliws/eventsByIdResponse" message="tns:eventsByIdResponse"/>
    </operation>
    <operation name="eventsByTimestamp">
      <input wsam:Action="http://webservice.uliws.ok.uliheller.com/uliws/eventsByTimestampRequest" message="tns:eventsByTimestamp"/>
      <output wsam:Action="http://webservice.uliws.ok.uliheller.com/uliws/eventsByTimestampResponse" message="tns:eventsByTimestampResponse"/>
    </operation>
  </portType>
  <binding name="UliWsImplPortBinding" type="tns:uliws">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="eventsById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eventsByTimestamp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UliWsService">
    <port name="UliWsImplPort" binding="tns:UliWsImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

